/*각 main 공통 사항*/
.section_style {
    text-align: center;
    padding: 4em;
}

/* 미리 설정한 css내용*/
.section_title {
    font-size: 2.5rem;
    margin: 1rem 0;
}
.section_description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

/* button 지정 */
button {
    background-color: transparent;
    outline: 0;
    border: 0;
}
button:focus {
    outline: 1px solid transparent;
}